/*CSS para elegir las opciones de ingresar o eliminar estudiante*/
.entradas-radio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .entradas-radio .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .entradas-radio .radio input {
    display: none;
  }
  
  .entradas-radio .radio .texto {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .entradas-radio .radio input:checked + .texto {
    background-color: #fff;
    font-weight: 600;
  }
  /*CSS para los casilleros*/
  #celda-casilleros button{
   background-color: #000080;
   border-radius: 10px;
   width: 80px;
   color: white;
   margin: 1px;
   padding: 2px 3px;

   
  }
  /* Para pantallas mayores a 1001px */
@media (min-width: 1001px) {
  .contenedorPrincipal-Casilleros {
    width: 800px; /* Ajuste para pantallas pequeñas */
    margin: 0 50px;
  }


  .contenedor-casilleros {
    display: grid;
    grid-template-columns: repeat(25, 0.5fr);
    grid-template-rows: repeat(4, 0.5fr);
    
  }
  #celda-casilleros button{
   width: 50px;
    font-size: 10px;
   
  }
}

/* Para pantallas menores a 1001px */
@media (max-width: 1000px) {
  .contenedorPrincipal-Casilleros {
    width: 400px; /* Ajuste para pantallas pequeñas */
  }

  .contenedor-casilleros {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(10, 0.5fr);
  }
  #celda-casilleros button{
  width: 100px;
  font-size: 10px;
   
  }
}
.contenedorTabla{
  color: red;
}