*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.imagen{
    background-image: url('../imgs/fondoheader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    position: relative;

}

.contenido-imagen{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
}
a{
    z-index: 5;
    position: relative;
}

.encabezado {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: white;
    font-weight: bold;

}

h1{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 25px;
}



